# Funcionamiento de la clase HltvScraper

Notebook creado con la finalidad de mostrar las funcionalidades de la clase creada para scrapear la págida de HLTV.

In [1]:
from clase_scraper import HltvScraper

hltv_scraper = HltvScraper()

# Equipos participantes

## Método ``teams_major_qualifier``

Retorna una lista con los equipos participantes del major separados por grupos del qualifier.

In [3]:
lista = hltv_scraper.teams_major_qualifier()

In [5]:
total = 0
for dict in lista:
    total += len(dict)
total

56

# Stats individuales

## Método ``individual_stats``

El método scrapea las stats individuales del jugador consulatado

In [3]:
df1 = hltv_scraper.individual_stats("/9816/aleksib")
df1

,Kills,Deaths,Kill / Death,Kill / Round,Rounds with kills,Kill - Death difference,Total opening kills,Total opening deaths,Opening kill ratio,Opening kill rating,...,3 kill rounds,4 kill rounds,5 kill rounds,Rifle kills,Sniper kills,SMG kills,Pistol kills,Grenade,Other,Player
0,2058,2488,0.83,0.53,1561,-430,297,393,0.76,0.88,...,69,6,1,1366,19,273,331,70,21,aleksib

## Método ``career_player``

Retorna un DataFrame con las estadísticas anuales del Career rating 1.0 del jugador consultado

In [5]:
df = hltv_scraper.career_player("/9816/aleksib")
df

  Period         All      Online         LAN     Majors
0   2015    1.08 (5)         NaN    1.08 (5)        NaN
0   2016   1.00 (51)   0.96 (28)   1.04 (23)        NaN
0   2017  1.09 (184)  1.05 (135)   1.19 (49)        NaN
0   2018  0.98 (224)  0.93 (128)   1.05 (96)        NaN
0   2019  0.94 (137)   0.92 (17)  0.94 (120)  1.00 (29)
0   2020  0.90 (220)  0.90 (203)   0.88 (17)        NaN
0   2021  0.92 (133)  0.91 (112)   0.94 (21)        NaN
0   2022  0.87 (102)    0.95 (8)   0.86 (94)  0.85 (18)
0   2023  0.88 (163)   0.86 (37)  0.89 (126)  1.01 (12)
0   2024  0.82 (162)    0.78 (4)  0.82 (158)  0.74 (18)

# Stats de equipo

## Método ``players_of_team``

El método se encarga de obtener todo los obtener las ids de los jugadores que componen al equipo conultado

In [6]:
dicc = hltv_scraper.players_of_team("/4608/natus-vincere")
dicc

{'Aleksib': '/stats/players/9816/aleksib?startDate=2023-11-20&endDate=2024-11-20&matchType=all&maps=all&rankingFilter=all',
 'iM': '/stats/players/14759/im?startDate=2023-11-20&endDate=2024-11-20&matchType=all&maps=all&rankingFilter=all',
 'b1t': '/stats/players/18987/b1t?startDate=2023-11-20&endDate=2024-11-20&matchType=all&maps=all&rankingFilter=all',
 'jL': '/stats/players/19206/jl?startDate=2023-11-20&endDate=2024-11-20&matchType=all&maps=all&rankingFilter=all',
 'w0nderful': '/stats/players/20127/w0nderful?startDate=2023-11-20&endDate=2024-11-20&matchType=all&maps=all&rankingFilter=all'}

## Método ``stats_players_team``

El método llama a ``players_of_team`` para obtener a los jugadores del equipo consultado, para así llamar a ``individual_stats`` en cada uno y luego retornar un DataFrame con todas las stats individuales del equipo.

In [4]:
df_jugadores_navi = hltv_scraper.stats_players_team("/4608/natus-vincere")
df_jugadores_navi

,Kills,Deaths,Kill / Death,Kill / Round,Rounds with kills,Kill - Death difference,Total opening kills,Total opening deaths,Opening kill ratio,Opening kill rating,...,3 kill rounds,4 kill rounds,5 kill rounds,Rifle kills,Sniper kills,SMG kills,Pistol kills,Grenade,Other,Player
0,2058,2488,0.83,0.53,1561,-430,297,393,0.76,0.88,...,69,6,1,1366,19,273,331,70,21,aleksib
0,2715,2588,1.05,0.70,1829,127,475,447,1.06,1.09,...,146,26,1,2160,14,73,449,20,14,im
0,2838,2507,1.13,0.73,1924,331,453,371,1.22,1.09,...,148,26,1,2126,22,213,456,23,12,b1t
0,2780,2499,1.11,0.72,1866,281,430,367,1.17,1.06,...,159,27,3,2121,23,145,460,27,27,jl
0,2791,2256,1.24,0.72,1914,535,404,237,1.70,1.09,...,172,29,4,1114,1144,43,474,21,17,w0nderful

## Método ``team_stats_by_map``

Retorna un DataFrame con las estadísticas del equipo en un mapa específico.

In [8]:
df_dust2 = hltv_scraper.team_stats_by_map("/4608/natus-vincere", "Dust2")
df_dust2

,Times played,Wins / draws / losses,Total rounds played,Rounds won,Win percent,Pistol rounds,Pistol rounds won,Pistol round win percent,CT round win percent,T round win percent
0,17,13 / 0 / 4,362,204,76.5%,34,20,58.8%,57.1%,55.7%

## Método ``matches_played``

In [9]:
df = hltv_scraper.matches_played("/4608/natus-vincere")
df

,Date,Event,Opponent,Map,Result,W/L
0,19/11/24,Perfect World Shanghai Major 2024 Europe RMR A,SAW,Ancient,13 - 2,W
1,19/11/24,Perfect World Shanghai Major 2024 Europe RMR A,SAW,Nuke,13 - 10,W
2,18/11/24,Perfect World Shanghai Major 2024 Europe RMR A,MOUZ,Inferno,7 - 13,L
3,18/11/24,Perfect World Shanghai Major 2024 Europe RMR A,MOUZ,Dust2,8 - 13,L
4,18/11/24,Perfect World Shanghai Major 2024 Europe RMR A,MOUZ,Mirage,13 - 4,W
...,...,...,...,...,...,...
175,23/11/23,BLAST Premier Fall Final 2023,Ninjas in Pyjamas,Mirage,13 - 6,W
176,23/11/23,BLAST Premier Fall Final 2023,Ninjas in Pyjamas,Overpass,13 - 11,W
177,22/11/23,BLAST Premier Fall Final 2023,Cloud9,Inferno,9 - 13,L
178,22/11/23,BLAST Premier Fall Final 2023,Cloud9,Ancient,13 - 9,W
179,22/11/23,BLAST Premier Fall Final 2023,Cloud9,Anubis,11 - 13,L

# Stats de todo los team participantes

## Método ``all_teams_stats_by_map``

In [10]:
df_dust2 = hltv_scraper.all_teams_stats_by_map("Dust2")
df_dust2.head()

,Times played,Wins / draws / losses,Total rounds played,Rounds won,Win percent,Pistol rounds,Pistol rounds won,Pistol round win percent,CT round win percent,T round win percent,Group,Team
0,17,13 / 0 / 4,362,204,76.5%,34,20,58.8%,57.1%,55.7%,europa_1,Natus Vincere
0,23,16 / 0 / 7,467,272,69.6%,46,26,56.5%,54.5%,61.4%,europa_1,Vitality
0,14,8 / 0 / 6,288,147,57.1%,28,13,46.4%,48.0%,55.6%,europa_1,MOUZ
0,17,8 / 0 / 9,362,183,47.1%,34,17,50.0%,53.3%,48.2%,europa_1,FaZe
0,19,10 / 0 / 9,442,224,52.6%,38,16,42.1%,53.6%,47.7%,europa_1,Falcons

## Método ``all_maps_stats``

In [2]:
df_maps = hltv_scraper.all_maps_stats()
df_maps

,Times played,Wins / draws / losses,Total rounds played,Rounds won,Win percent,Pistol rounds,Pistol rounds won,Pistol round win percent,CT round win percent,T round win percent,Group,Team,Map Name
0,34,22 / 0 / 12,724,390,64.7%,68,38,55.9%,55.1%,52.6%,europa_1,Natus Vincere,Ancient
0,0,0 / 0 / 0,0,0,0.0%,0,0,0.0%,0.0%,0.0%,europa_1,Vitality,Ancient
0,23,14 / 0 / 9,513,280,60.9%,46,28,60.9%,56.4%,52.9%,europa_1,MOUZ,Ancient
0,33,21 / 0 / 12,752,409,63.6%,66,40,60.6%,53.8%,54.9%,europa_1,FaZe,Ancient
0,22,8 / 0 / 14,479,224,36.4%,44,23,52.3%,50.4%,42.3%,europa_1,Falcons,Ancient
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,12,7 / 0 / 5,254,134,58.3%,24,13,54.2%,49.6%,56.3%,asia_rmr,Rare Atom,Vertigo
0,8,4 / 0 / 4,180,92,50.0%,16,9,56.2%,48.9%,53.4%,asia_rmr,TALON,Vertigo
0,1,0 / 0 / 1,21,8,0.0%,2,0,0.0%,16.7%,66.7%,asia_rmr,GR,Vertigo
0,0,0 / 0 / 0,0,0,0.0%,0,0,0.0%,0.0%,0.0%,asia_rmr,Alter Ego,Vertigo
0,3,3 / 0 / 0,53,39,100.0%,6,4,66.7%,61.5%,85.2%,asia_rmr,DRILLAS,Vertigo

## Método ``all_players_stats_by_team``

In [2]:
df = hltv_scraper.all_players_stats_by_team()
df

,Kills,Deaths,Kill / Death,Kill / Round,Rounds with kills,Kill - Death difference,Total opening kills,Total opening deaths,Opening kill ratio,Opening kill rating,...,5 kill rounds,Rifle kills,Sniper kills,SMG kills,Pistol kills,Grenade,Other,Player,Group,Team
0,2058,2488,0.83,0.53,1561,-430,297,393,0.76,0.88,...,1,1366,19,273,331,70,21,aleksib,europa_1,Natus Vincere
0,2715,2588,1.05,0.70,1829,127,475,447,1.06,1.09,...,1,2160,14,73,449,20,14,im,europa_1,Natus Vincere
0,2838,2507,1.13,0.73,1924,331,453,371,1.22,1.09,...,1,2126,22,213,456,23,12,b1t,europa_1,Natus Vincere
0,2780,2499,1.11,0.72,1866,281,430,367,1.17,1.06,...,3,2121,23,145,460,27,27,jl,europa_1,Natus Vincere
0,2791,2256,1.24,0.72,1914,535,404,237,1.70,1.09,...,4,1114,1144,43,474,21,17,w0nderful,europa_1,Natus Vincere
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,458,490,0.93,0.65,316,-32,73,88,0.83,0.98,...,4,304,11,44,91,8,3,runnin,asia_rmr,GR
0,276,228,1.21,0.73,185,48,32,42,0.76,0.91,...,0,217,2,13,43,1,2,bntet,asia_rmr,Alter Ego
0,613,569,1.08,0.73,409,44,85,90,0.94,1.00,...,2,441,4,48,117,5,4,xign,asia_rmr,Alter Ego
0,255,230,1.11,0.68,188,25,37,27,1.37,1.04,...,0,193,0,12,45,4,3,freeman,asia_rmr,Alter Ego
0,797,665,1.20,0.69,542,132,140,91,1.54,1.14,...,2,230,418,31,113,5,5,aidkit,asia_rmr,Alter Ego

## Método ``all_matches_played_by_team``

In [12]:
df = hltv_scraper.all_matches_played_by_team()
df

,Date,Event,Opponent,Map,Result,W/L,Group,Team
0,19/11/24,Perfect World Shanghai Major 2024 Europe RMR A,SAW,Ancient,13 - 2,W,europa_1,Natus Vincere
1,19/11/24,Perfect World Shanghai Major 2024 Europe RMR A,SAW,Nuke,13 - 10,W,europa_1,Natus Vincere
2,18/11/24,Perfect World Shanghai Major 2024 Europe RMR A,MOUZ,Inferno,7 - 13,L,europa_1,Natus Vincere
3,18/11/24,Perfect World Shanghai Major 2024 Europe RMR A,MOUZ,Dust2,8 - 13,L,europa_1,Natus Vincere
4,18/11/24,Perfect World Shanghai Major 2024 Europe RMR A,MOUZ,Mirage,13 - 4,W,europa_1,Natus Vincere
...,...,...,...,...,...,...,...,...
50,28/08/24,Perfect World Shanghai Major 2024 Middle East ...,Al-Ittihad,Mirage,13 - 1,W,asia_rmr,DRILLAS
51,28/08/24,Perfect World Shanghai Major 2024 Middle East ...,JiJieHao,Dust2,8 - 13,L,asia_rmr,DRILLAS
52,22/08/24,Perfect World Shanghai Major 2024 Levant & Nor...,Superfkrs,Anubis,8 - 13,L,asia_rmr,DRILLAS
53,21/08/24,Perfect World Shanghai Major 2024 Levant & Nor...,Unlucky Much?,Mirage,13 - 7,W,asia_rmr,DRILLAS
54,21/08/24,Perfect World Shanghai Major 2024 Levant & Nor...,Unlucky Much?,Ancient,13 - 6,W,asia_rmr,DRILLAS

# Stats generales

## Método ``pistol_rounds``

Retorna un DataFrame con las estadísticas anuales de los equipos para las rondas de pistolas.

In [13]:
df = hltv_scraper.pistol_rounds("both")
df

          Team Maps Won - Lost Pistol win % Round 2 conv Round 2 break
0          NRG  221  240 - 202        54.3%        88.5%         15.8%
1     Vitality  156  167 - 145        53.5%        85.5%         30.3%
2          M80  218  226 - 210        51.8%        84.4%         25.4%
3       Spirit  158  167 - 149        52.8%        90.3%         10.1%
4     Imperial  286  309 - 263        54.0%        86.1%         13.0%
..         ...  ...        ...          ...          ...           ...
79      Rebels  211  224 - 198        53.1%        81.2%         14.1%
80   Illuminar  212  194 - 230        45.8%        85.1%         13.5%
81  EYEBALLERS  305  295 - 315        48.4%        82.7%         14.4%
82       Rhyno  162  146 - 178        45.1%        89.0%         16.3%
83         W7M  188  188 - 188        50.0%        84.0%          9.0%

[84 rows x 6 columns]

## Método ``ftu_teams``

In [14]:
ftu = hltv_scraper.ftu_teams(side="both")
ftu

          Team Maps    RW%    OpK MultiK   5v4%   4v5% Traded%   ADR    FA
0          NRG  221  55.4%  53.2%   0.87  75.7%  32.5%   22.9%  23.1  0.30
1     Vitality  156  56.0%  53.9%   0.84  75.7%  33.0%   22.3%  25.0  0.24
2          M80  218  55.5%  53.0%   0.86  75.4%  33.0%   21.9%  27.8  0.32
3       Spirit  158  55.1%  52.8%   0.84  77.3%  30.2%   21.1%  24.2  0.18
4     Imperial  286  54.0%  52.7%   0.82  75.6%  29.8%   20.8%  22.1  0.21
..         ...  ...    ...    ...    ...    ...    ...     ...   ...   ...
79      Rebels  211  49.7%  48.5%   0.77  71.9%  28.8%   19.0%  20.4  0.19
80   Illuminar  212  48.2%  48.3%   0.77  69.2%  28.6%   19.5%  27.3  0.23
81  EYEBALLERS  305  47.7%  48.3%   0.76  70.6%  26.4%   18.1%  25.9  0.18
82       Rhyno  162  49.5%  46.9%   0.77  73.1%  28.6%   19.4%  25.2  0.22
83         W7M  188  47.4%  46.1%   0.74  71.8%  26.7%   19.1%  18.8  0.21

[84 rows x 10 columns]